<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/svg+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SVG Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ai</string>
				<string>AI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ai.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps</string>
				<string>PS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ps.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PostScript document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>epi</string>
				<string>EPI</string>
				<string>eps</string>
				<string>EPS</string>
				<string>epsf</string>
				<string>EPSF</string>
				<string>epsi</string>
				<string>EPSI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>eps.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PostScript document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>TIFF</string>
				<string>tif</string>
				<string>TIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tiff.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NSTIFFPboardType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TIFF</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tiff</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>CRW</string>
				<string>crw</string>
				<string>CR2</string>
				<string>cr2</string>
				<string>NEF</string>
				<string>nef</string>
				<string>RAF</string>
				<string>raf</string>
				<string>ORF</string>
				<string>orf</string>
				<string>MRW</string>
				<string>mrw</string>
				<string>SRF</string>
				<string>srf</string>
				<string>DCR</string>
				<string>dcr</string>
				<string>ARW</string>
				<string>arw</string>
				<string>PEF</string>
				<string>pef</string>
				<string>RAW</string>
				<string>raw</string>
				<string>MOS</string>
				<string>mos</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RAW.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/raw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Camera Raw</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CRW </string>
				<string>CR2 </string>
				<string>NEF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>DNG</string>
				<string>dng</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DNG.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/raw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Camera Raw</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DNG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>XBM</string>
				<string>xbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>XBM.icns</string>
			<key>CFBundleTypeName</key>
			<string>XBM</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>XBM </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>EXR</string>
				<string>exr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>OPENEXR.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/exr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OpenEXR</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>exr </string>
				<string>EXR </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ilm.openexr-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>bmp.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMP </string>
				<string>BMPf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gif.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Graphics Interchange Format Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>GIFf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ico.icns</string>
			<key>CFBundleTypeName</key>
			<string>Windows Icon Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.ico</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>JPG</string>
				<string>jpeg</string>
				<string>JPEG</string>
				<string>jpe</string>
				<string>JPE</string>
				<string>thm</string>
				<string>THM</string>
				<string>*</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>jpeg.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>JPEG</string>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>PNG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>png.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNGf</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qtif</string>
				<string>QTIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>qtif.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>qtif</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicktime-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tga</string>
				<string>TGA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>tga.icns</string>
			<key>CFBundleTypeName</key>
			<string>Targa Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TPIC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.truevision.tga-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sgi</string>
				<string>SGI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sgi.icns</string>
			<key>CFBundleTypeName</key>
			<string>Silicon Graphics Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.SGI</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sgi.sgi-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psd</string>
				<string>PSD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>psd.icns</string>
			<key>CFBundleTypeName</key>
			<string>Adobe Photoshop Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>8BPS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pntg</string>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>pntg.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple MacPaint Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PNTG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.macpaint-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fpx</string>
				<string>FPX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fpx.icns</string>
			<key>CFBundleTypeName</key>
			<string>FlashPix Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kodak.flashpix-image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fax</string>
				<string>FAX</string>
				<string>jfx</string>
				<string>JFX</string>
				<string>jfax</string>
				<string>JFAX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fax.icns</string>
			<key>CFBundleTypeName</key>
			<string>Fax Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.fax</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
				<string>ICNS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icns.icns</string>
			<key>CFBundleTypeName</key>
			<string>Apple Icon Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.icns</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jp2</string>
				<string>JP2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>JP2.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000 Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg-2000</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pic</string>
				<string>PIC</string>
				<string>hdr</string>
				<string>HDR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>RADIANCE.icns</string>
			<key>CFBundleTypeName</key>
			<string>Radiance</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.radiance</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dbdoc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>DrawBerry Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dblib</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DrawBerry Shape Collection</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>DBShapeCollectionDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>DrawBerry Help</string>
	<key>CFBundleIconFile</key>
	<string>drawberry</string>
	<key>CFBundleIdentifier</key>
	<string>com.fouf.DrawBerry</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>0.9</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>DBApplication</string>
	<key>NSServices</key>
	<array/>
	<key>SUFeedURL</key>
	<string>http://raphaelbost.free.fr/DBAppCast.xml</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
